@font-face {
  font-family: "Apercu";
  font-weight: 400;
  src: url("/fonts/apercu-regular.woff2") format("woff2"),
       url("/fonts/apercu-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  font-weight: 700;
  src: url("/fonts/apercu-bold.woff2") format("woff2"),
       url("/fonts/apercu-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Apercu";
  font-style: italic;
  src: url("/fonts/apercu-italic.woff2") format("woff2"),
       url("/fonts/apercu-italic.woff") format("woff");
  font-display: swap;
}
