.home {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  box-sizing: border-box;
}

.home .hero {
  display: grid;
  grid-template-rows: repeat(8, 12.5%);
  position relative;
  padding: 0 spacingMedium;
  height: 100%;
}

.home .hero:after {
  content: '';
  position: absolute;
  grid-row-start: 5;
  grid-row-end: 9;
  width: 100%;
  height: 100%;
  background-color: brandYellow;
}

.home .hero:before {
  content: '';
  grid-row-start: 4;
  grid-row-end: -1;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 30%;
  height: 100%;
  background-image: url('/curly-bracket--close.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.home .hero .action {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0;
}

.home .hero .action-button {
  grid-row-start: 4;
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  color: $accentColor;
  text-transform: uppercase;
  font-weight: 700;
  transition: transform .2s ease-in-out;
}

.home .hero .action-button:hover {
  background-color: transparent;
}

.home .hero .action-button:after {
  content: '';
  position: absolute;
  right: -50px;
  bottom: 0;
  z-index: 2;
  width: 40px;
  height: 100%;
  background-image: url('/arrow-right.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home .hero .action-button:hover:after {
  animation: arrowBounce ease-in-out 1.4s infinite;
}

.home .hero img {
  position: relative;
  grid-row-start: 4;
  grid-row-end: -1;
  z-index: 2;
  align-self: center;
  margin: 0 auto;
  max-width: 100%;
  object-fit: contain;
}

.home .hero h1 {
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: spacingMedium;
  font-size: 45px;
  color: $accentColor;
}

.home .hero .description  {
  grid-row-start: 2;
  grid-row-end: 4;
  align-self: center;
  margin: spacingDefault 0;
  color: $accentColor;
}

.theme-container.no-sidebar {
  height 100vh;
  box-sizing: border-box;
  background-color: brandYellow;
}

@media (max-width: 419px) {
  .home {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 719px) {
  .home .hero .action-button {
    left: -20px;
  }
}

@media (min-width: 400px) {
  .home .hero h1 {
    margin-top: 2.5rem;
    font-size: 50px;
  }

  .home .hero .description {
    font-size: 24px;
  }
}

@media (min-height: 800px) {
  .home .hero h1 {
    margin-top: 3rem;
    font-size: 50px;
  }

  .home .hero .description {
    font-size: 24px;
  }
}

@media (min-width: 720px) {
  .theme-container.no-sidebar .home-link {
    width: 16.4rem;
    height: 100%;
  }

  .theme-container.no-sidebar {
    background: linear-gradient(to right, #fffdca 50%, #ffe400 50%, #ffe400 50%);
  }

  .theme-container.no-sidebar .links {
    border-bottom: 0;
  }

  .theme-container.no-sidebar .home {
    max-width: 100%;
    box-sizing: border-box;
  }

  .home .hero {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(10, 1fr);
  }

  .home .hero:after {
    display: none;
  }

  .home .hero:before {
    grid-row-start: 1;
    right: 3rem;
    background-position: right;
  }

  .home .hero img {
    grid-column-start: 1;
    grid-column-end: -1;
    position: absolute;
    max-height 75vh;
    max-width 50vw;
    right: 10vw;
    bottom: 15rem;
    margin: 0;
    justify-self: flex-end;
  }

  .home .hero h1 {
    grid-row-start: 2;
    margin: 0;
    text-align: left;
  }

  .home .hero .action {
    grid-column-start: 1;
    grid-row-start: 6;
    justify-content: flex-start;
    align-self: baseline;
  }

  .home .hero .description {
    grid-row-start: 3;
    grid-row-end: 5;
    margin-right: spacingDouble;
    font-size: 30px;
    text-align: left;
  }
}

@media (min-width: 960px) {
  .theme-container.no-sidebar .search-box input {
    border-color: $accentColor;
  }
}

@media (min-width: 1100px) {
  .home .hero .action {
    grid-row-start: 7;
    justify-content: flex-start;
    align-self: baseline;
  }

  .home .hero .description {
    grid-column-start: 1;
    grid-row-end: 6;
    font-size: 40px;
  }

  .home .hero h1 {
    font-size: 55px;
  }
}
@media (min-width: 1300px) {
  .home .hero {
    padding: 0 60px;
  }

  .theme-container.no-sidebar .navbar {
    padding: 0 60px;
  }

  .theme-container.no-sidebar .site-name {
    margin-left: 0;
  }
}

@keyframes arrowBounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0);
  }
}
