.theme-container.sidebar-open .navbar {
  background-color: brandYellow;
}

.theme-container .navbar {
  padding-left: 4rem;
  background-color: brandYellow;
  border-bottom: 1px solid $accentColor;
}

.navbar .site-name {
  color: $accentColor;
}

.navbar .links {
  background-color: transparent;
  max-width: $contentWidth;
}

.navbar .sidebar-button {
  top: .5rem;
  left: spacingDefault;
  background-color: $accentColor;
}

.sidebar-button svg,
.sidebar-button .icon {
  display: none;
}

.navbar .sidebar-button:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/icon_menu-passive--white.svg');
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-open .navbar .sidebar-button:after {
  background-image: url('/icon_menu-exit--white.svg');
}

.page .last-updated {
  margin-bottom: spacingQuarter;
}

@media (min-width: 420px) {
  .theme-container .navbar {
    padding-left: 4.5rem;
  }

  .page .last-updated {
    margin-bottom: 0;
  }
}

@media (min-width: 720px) {
  .theme-container:not(.no-sidebar) .navbar {
    padding-left: 0;
    background-color: white;
    border: none;
  }

  .theme-container.no-sidebar .navbar {
    padding-left: 0;
    background-color: transparent;
  }

  .home-link {
    width: 16.4rem;
    height: 100%;
    background-color: brandYellow;
  }

  .theme-container.no-sidebar .home-link {
    background-color: transparent;
  }

  .navbar {
    padding: 0;
  }

  .navbar .site-name {
    position: relative;
    margin: .4rem spacingDouble;
    padding-left: spacingDouble;
  }

  .navbar .site-name:before {
    content: '';
    position: absolute;
    top: calc(50% - 15px);
    left: -5px;
    width: 30px;
    height: 30px;
    background-image: url('/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navbar .site-name:after {
    position: absolute;
    content: 'by De Voorhoede';
    bottom: -50%;
    right: 0;
    text-align: right;
    font-size: 11px;
    font-style: italic;
    width: 100%;
    font-weight: 400;
  }

  .theme-container .navbar {
    background-color: white;
  }

  .theme-container:not(.no-sidebar) .links {
    left: 20rem;
    display: flex;
    justify-content: flex-end;
    padding-bottom: .7rem;
    padding-left: 0;
    max-width: maxWidthMedium;
    background-color: transparent;
  }
}

@media (min-width: 960px) {
  .theme-container:not(.no-sidebar) .links {
    left: 24rem;
    padding-right: spacingDefault;
    max-width: maxWidthLarge;
  }

  .home-link {
    width: 20rem;
    height: 100%;
    background-color: brandYellow;
  }
}

@media (min-width: 1140px) {
  .theme-container:not(.no-sidebar) .links {
    padding-right: 1.5rem;
    width: maxWidthLarge;
  }
}
