.page-edit {
  display: none;
}

.page-nav {
  margin-left: 0;
  padding-top: 0;
}

.page-nav .inner {
  margin-bottom: 0;
  font-size: 1rem;
}

.page-nav .next {
  margin-left: spacingHalf;
  margin-bottom: spacingDefault;
}
