@media (min-width: 720px) {
  .page-nav {
    position: fixed
    bottom: 0
    right: 0
    background-color: white
    width: max-width-medium
    padding-bottom: spacing-half
  }
}

@media (min-width: 960px) {
  .theme-container:not(.no-sidebar) .links {
    width: max-width-large
  }

  .home-link {
    width: 20rem
    height: 100%
    background-color: bg-pastel
  }

  .page-edit, .page-nav {
    max-width: max-width-large
  }

  .page-nav {
    width: max-width-large
  }

  .page-nav .inner {
    margin: 0 auto
  }
}