@import fonts
@import variables
@import home
@import search-box
@import sidebar
@import navbar
@import menu
@import page-navigation

body {
  font-family: 'apercu', Arial, sans-serif !important
  margin: 0
}

h1 {
  color: blue
}
