.search-box input {
  background-color: transparent
  color: blue
  background-image: url('/search--blue.svg')
}

.search-box input:focus {
  border-color: blue
}

.search-box .suggestions {
  margin-top: 1.2rem
  border-color: blue
}

@media (min-width: 960px) {
  .search-box input {
    border-color: blue
  }
}
