.search-box {
  margin-right: 0
}

.search-box input {
  color: $accentColor;
  background-color: brandYellow;
  background-image: url('/search--blue.svg');
}

.search-box input:focus {
  border-color: $accentColor;
}

.search-box .suggestions {
  margin-top: 1.2rem;
  border-color: $accentColor;
}

@media (min-width: 720px) {
  .search-box input {
    background-color: transparent;
  }
}

@media (min-width: 960px) {
  .search-box input {
    border-color: $accentColor;
  }
}
