.theme-container .sidebar {
  box-sizing: border-box;
  background-color: bgPastel;
  border: 2px solid bgPastel;
}

.sidebar-heading {
  margin-bottom: spacingDefault;
  color: blue;
}

.sidebar-heading span {
  position: relative;
}

.sidebar-heading span:after {
  content: '';
  position:absolute;
  left: 0;
  bottom: -7px;
  width: 0%;
  height 100%;
  border-bottom: 2px solid brandYellow;
}

.sidebar-heading:hover span:after {
  transition: all .4s ease;
  width: 100%;
}

.sidebar .sidebar-links {
  color: blue;
}

a.sidebar-link {
  padding: spacingHalf spacingMedium;
}

.sidebar-sub-headers a.sidebar-link.active {
  font-weight: 700;
}

@media (max-width: 719px) {
  .theme-container .sidebar {
    z-index: 15;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    background-color: bgPastel;
    transform: translateY(-100%);
  }

  .theme-container.sidebar-open .sidebar {
    transform: translateY(0);
  }
}

@media (min-width: 720px) {
  .sidebar-link:hover {
    font-weight: 700;
  }
}
