.theme-container .sidebar {
  box-sizing: border-box;
  background-color: brandYellow;
  border: none;
}

.theme-container .sidebar > .sidebar-links {
  padding: 1.9rem 2rem;
}

.sidebar ul.sidebar-group-items {
  margin: -.5rem 0 1.3rem 0;
}

.sidebar-group li a.sidebar-link {
  margin: 0 0 spacingHalf spacingDefault;
  padding: 0;
}

.sidebar-group li:last-child a.sidebar-link {
  margin-bottom: 0;
}

.sidebar-group li a.sidebar-link.active {
  margin-left: 0;
  padding-left: spacingDefault;
  color: $accentColor;
}

.sidebar-heading {
  margin-bottom: spacingDefault;
  padding: 0;
  border: 0;
  font-size: 1.3rem;
  color: $accentColor;
}

.sidebar-heading:hover,
.sidebar-heading.open {
  color: $accentColor;
}

@media (min-width: 720px) {
  .sidebar-heading {
    font-size: 1.1rem;
  }
}

.sidebar-heading .arrow.down {
  border-top: 6px solid $accentColor;
}

.sidebar-heading .arrow.right {
  border-left: 6px solid $accentColor;
}

.sidebar-heading span {
  position: relative;
}

.sidebar-heading span:after {
  content: '';
  position:absolute;
  left: 0;
  bottom: -7px;
  width: 0%;
  height 100%;
  border-bottom: 2px solid $accentColor;
}

.sidebar-heading:hover span:after {
  transition: all .4s ease;
  width: 100%;
}

a.sidebar-link {
  padding: spacingHalf spacingMedium;
}

.sidebar-link:hover {
  text-decoration: underline;
}

.sidebar .sidebar-sub-headers {
  margin-top: spacingHalf;
  margin-bottom: spacingDefault;
}

.sidebar .sidebar-sub-headers li a.sidebar-link {
  margin: 0 0 0 calc(spacingHalf + 4px);
}

.sidebar .sidebar-sub-headers li a.sidebar-link.active {
  font-weight: 700;
}

@media (max-width: 719px) {
  .theme-container .sidebar {
    z-index: 15;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    background-color: brandYellow;
    transform: translateY(-100%);
  }

  .theme-container.sidebar-open .sidebar {
    transform: translateY(0);
  }

  .theme-container .sidebar > .sidebar-links {
    padding: 1rem spacingDefault;
  }
}
