$accentColor = blue
$textColor = #222222

spacing-default = 1rem
spacing-half = .5rem
spacing-double = 2rem
max-width-medium = calc(100% - 20rem)
max-width-large = calc(100% - 24rem)
brand-color = #ffe400
active-color = #e9d100
bg-pastel = #fffeca
active-blue = #0005be