$accentColor = blue;
$textColor = #222222;

$contentWidth = 740px;

spacingQuarter = .25rem;
spacingHalf = .5rem;
spacingDefault = 1rem;
spacingMedium = 1.5rem;
spacingDouble = 2rem;

brandYellow = #ffe400;
bgPastel = #fffeca;

// based on fixed values from vuepress sidebar
maxWidthMedium = 740px;
maxWidthLarge = 740px;
