$accentColor = blue;
$textColor = #222222;

spacingHalf = .5rem;
spacingDefault = 1rem;
spacingMedium = 1.5rem;
spacingDouble = 2rem;

brandYellow = #ffe400;
bgPastel = #fffeca;

// based on fixed values from vuepress sidebar
maxWidthMedium = calc(100% - 20rem);
maxWidthLarge = calc(100% - 24rem);
